@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,800;1,700&display=swap");
.ForgotPasswordContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.ForgotPasswordLeftWrapper {
    margin-top: 2rem;
    width: 55%;
    padding: 0rem 2rem;
}

.ForgotPasswordIntro {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    /* line-height: 40px; */
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
}
.ForgotPasswordIntroSubHeading {
    color: gray;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.ForgotPasswordRightWrapper {
    width: 45%;
    padding-right: 8rem;
    margin-top: 7.2rem;
    /* background-color: pink; */
}
.McAfeeLogo {
    flex: 1;
    width: 10rem;
}
.emailMeBtnWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.emailMeBtn{
    cursor: pointer;
    color: white;
    padding: 7px 0px;
    background-color: #C1C7D2;
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    outline: none;
}
.emailMeBtn:focus{
    outline: none;
}

@media only screen and (max-width: 960px) {
    .ForgotPasswordContainer{
        flex-direction: column;
    }
    .ForgotPasswordLeftWrapper{
        width: 100%;
    }
    .ForgotPasswordIntro{
        height: fit-content;

    }

    
}
